<main class="container mt-3">
    <p [ngStyle]="miCard">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iusto voluptatum nam nesciunt a, quasi ad placeat ut quaerat est accusamus repudiandae totam pariatur vel quidem eligendi, itaque molestias qui?
    </p>
    <hr>
    <p [ngStyle]="{'font-size':'40px', 'color':color}">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et eum cupiditate ipsum qui numquam, maiores modi doloremque similique possimus? Ut atque assumenda ullam velit corporis praesentium eos a, error ipsum!
    </p>
</main>