<div class="card m-2">
    <img [src]="prod.prod_img" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">
            {{prod.prod_nom}}
        </h5>
        <p class="card-text">
            {{prod.prod_desc}}
        </p>
        <strong>
            Precio: {{prod.prod_price | currency:'PEN'}}
        </strong>
        <a class="btn btn-info btn-block" [routerLink]="['detalle',prod.prod_id]">
            Ver Detalle
        </a>
        <button class="btn btn-primary btn-block" (click)="mandarACarrito()">
            Agregar a Carrito
        </button>
    </div>
</div>
