<div class="container">
    <!-- Estoy validando si miProducto existe -->
  <div *ngIf="miProducto">
    <div class="row mt-2">
      <div class="col-3">
        <img [src]="miProducto.prod_img" class="col-12" style="height:150px;" />
      </div>
      <div class="col-9">
        <h2>{{ miProducto.prod_nom }}</h2>
        <br />
        <strong>Descripción: </strong>{{ miProducto.prod_desc }}
        <br />
        <strong>Precio: </strong>{{ miProducto.prod_price }}
      </div>

    </div>
  </div>
</div>
