code{
    color: cornflowerblue;
}
.c-font-family{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c-font-size{
    font-size: 26px;
}
.c-font-weight{
    font-weight: bold;
}
.c-font-style{
    font-style: italic;
}
.c-font{
    font: oblique bold 20px Verdana;
}
.c-text-align{
    text-align: center;
}
.c-text-align-last{
    text-align-last: right;
}
.c-letter-spacing{
    letter-spacing: 10px;
}
.c-word-spacing{
    word-spacing: 15px;
}
.c-line-height{
    line-height: 10px;
}
img{
    vertical-align: middle;
}
.c-border{
    border: 1px dotted #000000;
}
.c-width{
    width: 50%;
}
.c-height{
    height: 20px;
}
.c-overflow{
    overflow: scroll;
    overflow-x: hidden;
}