code{
    color: cornflowerblue;
}
.c-font-family{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c-font-size{
    font-size: 26px;
}
.c-font-weight{
    font-weight: bold;
}
.c-font-style{
    font-style: italic;
}
.c-font{
    font: oblique bold 20px Verdana;
}